header {
    background-color: #9F624F;
    font-size: xx-large;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #CCA98D;
    font-weight: bold;
}

main {
    background-color: #AE9E8F;
}

body {
    background-color: #F7E7CE;
    text-align: center;
}

footer {
    background-color: #59372B;
    color: #F7E7CE;
}