#container {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    background-color: #9F624F;
    font-size: xx-large;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

h1 {
    margin: 0%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #CCA98D;
    font-weight: bold;
    font-size: large;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

main {
    background-color: #AE9E8F;
}

body {
    background-color: #F7E7CE;
    text-align: center;
}

img {
margin-left: 3%;
margin-right: 3%;
}

footer {
    background-color: #59372B;
    color: #F7E7CE;
}